*, body {
  color: #222222 ;
}

.Container {
  margin-top: 20px;
}

.BoxImage {
  padding-left: 350px;
  padding-top: 50px;
}

.AddToCartButton {
  display: block !important;
  margin-top: 20px !important;
}

/* .AddToCartButton:active {
  background-color: #222222;
}

.AddToCartButton.MuiButton-label:active {
  color: #fff !important;
}

.AddToCartButton:focus {
  background-color: #222222;
}

.AddToCartButton.MuiButton-label:focus {
  color: #fff !important;
} */

.ContentDetails {
  padding: 50px 75px;
}

.Text {
  margin-top: 5px;
  color: #888888;
}

.CartImage {
  padding: 20px;
 
}

.CartText {
  padding: 20px 20px 20px 35px;
}

.ButtonSizes:active {
  border: 2px solid #222222 !important;
}

.ButtonSizes:focus {
  border: 2px solid #222222 !important;
}